a {
  color: #d24c44;
  text-decoration: underline;
}
.content-search {
  color: #909090;
  font-size: 0.8rem;
}
.search-wrapper {
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 12px;
  margin-bottom: 10px;
}