
<div class="row">
  <div class="col-lg-5">   
    <form *ngIf="showUpdate && translationsFormUpdate" [formGroup]="translationsFormUpdate" (ngSubmit)="onUpdate()">
      <nb-card>
        <nb-card-header class="bg-header-section">
          <div class="close-modale" (click)="closeUpdateModale()">
            <nb-icon icon="close-outline"></nb-icon>
          </div>
          <span>Обновить перевод</span>
        </nb-card-header>
        <input
          type="text"
          class="hide-locale-id"
          *ngIf="listKey.length > 0"
          [(ngModel)]="listKey[1].key"
          formControlName="key"
        >
      </nb-card>
      <div formArrayName="keyValues">
        <ngb-tabset [justify]="currentJustify">
          <ngb-tab *ngFor="let group of localeFormUpdateArray; let i = index;" title="Язык: {{localesList[i].name}}">
            <ng-template ngbTabContent>
              <div [formGroupName]="i">
                <nb-card>
                  <nb-card-body *ngIf="listKey.length > 0 && listKey[i] === undefined">
                    <p>Нельзя обновить, нужно создать перевод для этого языка</p>
                    <button type="button" class="btn" (click)="onShowAddLocale()">Cоздать перевод</button>
                  </nb-card-body>
                  <nb-card-body>
                    <nb-card-header>Значение</nb-card-header>
                    <input
                      class="hide-locale-id"
                      type="text"
                      formControlName="locale"
                    >
                    <input
                      type="text"
                      class="hide-locale-id"
                      *ngIf="listKey.length > 0 && listKey[i] !== undefined && listKey[i].localeId === localesList[i].id"
                      formControlName="id"
                      [(ngModel)]="listKey[i].id"
                    >
                    <input
                      type="text"
                      nbInput
                      *ngIf="listKey.length > 0 && listKey[i] !== undefined && listKey[i].localeId === localesList[i].id"
                      fullWidth
                      formControlName="value"
                      [(ngModel)]="listKey[i].value"
                      fieldSize="small"
                      placeholder="value"
                    >
                  </nb-card-body>
                </nb-card>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
      <nb-card>
        <nb-card-body>
          <div class="flex-col">
            <button class="btn" type="submit" [disabled]="!translationsFormUpdate.valid">
              Обновить
            </button>
            <button class="btn" type="button" (click)="onResetInput()">
              Сбросить значение языка
            </button>
          </div>
        </nb-card-body>
      </nb-card>
    </form>
    <form *ngIf="showAddLocale && translationsFormLang" [formGroup]="translationsFormLang" (ngSubmit)="onAddLocale()">
      <nb-card>
        <nb-card-header class="bg-header-create-locale-section">
          <span>
            Добавить перевод
          </span>
        </nb-card-header>
        <nb-card-header *ngIf="listKey.length > 0">Ру: {{listKey[1].value}}</nb-card-header>
        <input
          type="text"
          nbInput
          fullWidth
          class="hide-locale-id"
          formControlName="page"
          fieldSize="small"
          placeholder="page"
          *ngIf="listKey.length > 0"
          [(ngModel)]="listKey[1].page"
        >
        <input
          type="text"
          nbInput
          fullWidth
          class="hide-locale-id"
          formControlName="key"
          fieldSize="small"
          placeholder="key"
          *ngIf="listKey.length > 0"
          [(ngModel)]="listKey[1].key"
        >
      </nb-card>
      <nb-card>
        <nb-card-body>
          <nb-card-header>Значение</nb-card-header>
            <div class="flex-col">
              <nb-select class="select-translate" formControlName="localeSelect" placeholder="Выбрать язык">
                <nb-option *ngFor="let locale of localesList" [value]="locale.id">{{ locale.name }}</nb-option>
              </nb-select>
              <input
                type="text"
                nbInput
                fullWidth
                formControlName="value"
                fieldSize="small"
                placeholder="value"
              >
            </div>
        </nb-card-body>
      </nb-card>
      <nb-card>
        <nb-card-body>
          <button class="btn" type="submit" [disabled]="!translationsFormLang.valid">
            Создать
          </button>
        </nb-card-body>
      </nb-card>
    </form>
    <form *ngIf="showAddTranslate && translationsForm" [formGroup]="translationsForm" (ngSubmit)="onAdd()">
      <nb-card>
        <nb-card-header class="bg-header-create-section">
          <span>
              Добавить ключ с переводами
          </span>
        </nb-card-header>
        <nb-card-body>
          <nb-card-header>Ключ</nb-card-header>
          <div class="flex-col">
            <input
              type="text"
              nbInput
              fullWidth
              formControlName="key"
              fieldSize="small"
              placeholder="key"
              class="col-lg-6"
            >
            <nb-select class="col-lg-6" formControlName="pageSelect" placeholder="Выбрать страницу">
              <nb-option *ngFor="let page of pages" [value]="page">{{ page }}</nb-option>
            </nb-select>
          </div>
        </nb-card-body>
      </nb-card>
      <div formArrayName="translatable">
        <ngb-tabset [justify]="currentJustify">
          <ngb-tab *ngFor="let group of localeFormArray; let i = index;" title="Язык: {{localesList[i].name}}">
            <ng-template ngbTabContent>
              <div [formGroupName]="i">
                <nb-card>
                  <nb-card-body>
                    <nb-card-header>Значение</nb-card-header>
                    <input
                      class="hide-locale-id"
                      type="text"
                      formControlName="locale"
                    >
                    <input
                      type="text"
                      nbInput
                      fullWidth
                      formControlName="value"
                      fieldSize="small"
                      placeholder="value"
                    >
                  </nb-card-body>
                </nb-card>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
      <nb-card>
        <nb-card-body>
          <button class="btn" type="submit" [disabled]="!translationsForm.valid">
            Добавить
          </button>
        </nb-card-body>
      </nb-card>
    </form>
  </div>
  <div class="col-lg-7">
    <nb-card>
      <nb-card-body>
          <input
            type="text"
            class="form-control"
            placeholder="Поиск"
            ngModel
            (ngModelChange)="filterTitle($event)"
          >
        </nb-card-body>
      </nb-card>
      <ng-container *ngFor="let translation of listTranslationGQL | async">
        <nb-card>
            <ng-container *ngIf="translation">
            <nb-card-header>
              <button
                class="btn"
                type="button"
                (click)="getTranslateKey(translation.key)"
              >
                <nb-icon icon="edit-2-outline"></nb-icon>
              </button>
              {{translation.value}}
              <!-- <br>{{translation.key}} -->
            </nb-card-header>
          </ng-container>
        </nb-card>
      </ng-container>
    </div>
  </div>