
.hide-locale-id {
  display: none;
}


.bg-header-section {
  background-color: #cbecff;

  span {
    color: #285775;
  }
}

.bg-header-create-section {
  background-color: #3366ff;

  span {
    color: #ffffff;
  } 
}
.bg-header-create-locale-section {
  background-color: #00d68f;

  span {
    color: #ffffff;
  } 
}