<app-loading class="app-loading" *ngIf="showSpinner"></app-loading>
<div [ngClass]="showSpinner ? 'content-loading' : 'content-loaded'">
  <div class="row content-center">
    <ng-container *ngFor="let card of goodsCards | async">
        <div class="card"
              *ngIf="card"
              class="col-lg-3 col-md-6 col-sm-12 card-wrapper">
          <div class="card-img" 
              *ngIf="card.translations.length > 0">
              <a [routerLink]="card.translations[0].slug">
                <img
                  :[src]="card.images[0].thumbnail | imagePathReplacer:'works'"
                    [alt]="card.translations[0].title" > 
              </a>
          </div>
          <div class="text-wrapper" >
              <div class="top-text" *ngIf="card.artist && card.artist.translations.length > 0; else emptyDivData">
                <span *ngIf="translation && translation.workAuthor">{{ translation.workAuthor.value }}</span>
                <a [routerLink]="['/' + card.artist.translations[0].slug]">
                  {{ card.artist.translations[0].name }}
                </a>
              </div>
              <div class="middle-text" *ngIf="card && card.translations.length > 0">
                <span *ngIf="translation && translation.workName">{{ translation.workName.value }}</span>
                <p>{{ card.translations[0].title }}</p>
              </div>
              <div class="middle-text" *ngIf="card.translations.length > 0">
                <span *ngIf="translation && translation.exhibDate">{{ translation.exhibDate.value }}</span>
                <p *ngIf="card.translations[0].creationDate; else emptyData">{{ card.translations[0].creationDate }}</p>
              </div>
              <div class="bottom-text" *ngIf="card.price">
                <span *ngIf="translation && translation.workPrice">{{ translation.workPrice.value }}</span>
                <p>{{ card.price }}</p>
                <span *ngIf="translation && translation.workCurrency">{{ translation.workCurrency.value }}</span>
              </div>
          </div>
        </div>
      </ng-container>
    </div>
</div>

<ng-template #emptyData>
  <p> - </p>
</ng-template>
<ng-template #emptyDivData>
  <div class="top-text">
    <span *ngIf="translation && translation.workAuthor">{{ translation.workAuthor.value }}</span>
    <a> - </a>
  </div>
</ng-template>